# GREP
alias grep="grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}"
alias fgrep="fegrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}"
alias egrep="egrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}"

# GENERAL
alias c="clear"
alias e="exit"
alias g="git"
alias cat="bat"
alias clipboard="pbcopy"
alias week="date +%V"
alias localip="curl https://ipinfo.io/json"
alias la="exa -lah"
alias ll="exa -lh"
alias ls="exa -G"
alias lsa="exa -lah"
alias fsf='vim "$(fd . -t f --full-path "/Users/$USER/" | fzf -i)"'
alias fsd='cd "$(fd . -t d --full-path "/Users/$USER/" | fzf -i)"'
alias find-large-files='du -h . | grep "[0-9\,]\+G"'

# NPM
alias pn="pnpm"
alias pnx="pnpm dlx"
alias ni="pnpm install"
alias nrs="pnpm start -s"
alias nrd="pnpm dev"
alias nrb="pnpm build"
alias nrt="pnpm test"
alias flush-npm="rm -rf node_modules package-lock.json pnpm-lock.yaml && npm install"
alias ncu-patch="ncu -ui --target patch"
alias ncu-minor="ncu -ui --target minor"
alias ncu-latest="ncu -ui --target latest"

# GIT
alias git="hub"
alias ga="git add ."
alias gb="git branch"
alias gs="git status"
alias gss="git status -s"
alias gp="git pull"
alias gf="git fetch"
alias gd="git diff"
alias gbd="git checkout develop"
alias gbm="git checkout main"
alias gpush="git push"
alias gl="git log"
alias gc="git commit -m"
alias gac="git add . && git commit -m"
alias clean-branches="git branch --merged | egrep -v '(^\*|master|main|develop)' | xargs git branch -d"
alias deep-clean-branches='find . -type d -name ".git" -execdir sh -c '\''cd "{}" && repo=$(basename "$(dirname "$(pwd)")") && cleaned_branches=$(git branch --merged | grep -v -E "master|main|develop" | xargs) && [ -n "$cleaned_branches" ] && git branch -d $cleaned_branches && echo "Cleaned branches: $cleaned_branches for repo $repo"'\'' \;'
alias deep-check-branches='find . -type d -name ".git" -execdir sh -c '\''cd "{}" && repo=$(basename "$(dirname "$(pwd)")") && branch=$(git symbolic-ref --short HEAD 2>/dev/null) && [ "$branch" != "develop" ] && echo "Repo: $repo is actually on branch $branch"'\'' \;'
alias gsa='find ~/Developer -name '.git' | while read repo ; do repo=${repo//\.git/}; git -C "$repo" status -s | grep -q -v "^\$" && echo -e "\n\033[1m${repo}\033[m" && git -C "$repo" status -s || true; done'
alias gla='find ~/Developer -name '.git' | while read repo ; do repo=${repo//\.git/}; echo -e "\n\033[1m${repo}\033[m" && git -C "$repo" pull || true; done'
alias gpa='find ~/Developer -name '.git' | while read repo ; do repo=${repo//\.git/}; git -C "$repo" status -b | grep "git push" && echo -e "\n\033[1m${repo}\033[m" && git -C "$repo" push || true; done'

# GITHUB
alias ghmerge="gh pr create && gh pr merge"

# DOCKER
alias dps="docker ps --format 'table {{.ID}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Names}}'"
alias dpsa="docker ps -a --format 'table {{.ID}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Names}}'"
alias dkill='docker rm $(docker stop $(docker ps -aq))'
alias recursive-docker-up="find . -type d -name develop -exec bash -c 'cd '{}' && ./docker_up.sh' \;"
alias docker-watch-stats="watch -n 1 'docker stats --no-stream --format \"table {{.Name}}\t{{.Container}}\t{{.CPUPerc}}\t{{.MemUsage}}\" | sort -k 3 -h -r'"
alias docker-logs-current='docker logs -f $(basename "$PWD")'

# STRING FORMAT
alias remove-spaces="find . -name '* *' -type d | rename 's/ /_/g'; find . -name '* *' -type f | rename 's/ /_/g'"
alias remove-dashes="find . -name '*-*' -type d | rename 's/-/_/g'; find . -name '*-*' -type f | rename 's/-/_/g'"

# DOTFILES
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias dotfilesupdate="dotfiles ac '$(date +'%Y-%m-%d %H:%M:%S'): update dotfiles' && dotfiles push"

# POSTGRESQL
alias psql-start="brew services start postgresql@14"
alias psql-stop="brew services stop postgresql@14"

# MySQL
alias mysql-start="brew services start mysql && mysql.server start"
alias mysql-stop="brew services stop mysql && mysql.server stop"

# SOURCES
alias sz="source ~/.zshrc"
