# GREP
alias grep="rg --hidden --glob '!.git/' --glob '!node_modules/' --glob '!.bzr/' --glob '!CVS/' --glob '!.hg/' --glob '!.svn/' --glob '!.idea/' --glob '!.tox/'"
alias fgrep="rg -F --hidden --glob '!.git/' --glob '!node_modules/' --glob '!.bzr/' --glob '!CVS/' --glob '!.hg/' --glob '!.svn/' --glob '!.idea/' --glob '!.tox/'"
alias egrep="rg -e --hidden --glob '!.git/' --glob '!node_modules/' --glob '!.bzr/' --glob '!CVS/' --glob '!.hg/' --glob '!.svn/' --glob '!.idea/' --glob '!.tox/'"

# GENERAL
alias c="clear"
alias e="exit"
alias g="git"
alias cat="bat --style=plain,header"
alias clipboard="pbcopy"
alias week="date +%V"
alias localip="curl https://ipinfo.io/json"
alias externalip="curl ifconfig.me"
alias la="eza -lah"
alias ll="eza -lh"
alias ls="eza -G"
alias lsa="eza -lah"
alias fsf='vim "$(fd . -t f --full-path "$HOME/" | fzf -i)"'
alias fsd='cd "$(fd . -t d --full-path "$HOME/" | fzf -i)"'
alias find-large-files='du -h . | grep "[0-9\,]\+G"'
alias cd="z"

# NPM
alias pn="pnpm"
alias pnx="pnpm dlx"
alias ni="pnpm install"
alias nrs="pnpm start -s"
alias nrd="pnpm dev"
alias nrb="pnpm build"
alias nrt="pnpm test"
alias clean-packages="rm -rf ./node_modules ./package-lock.json ./pnpm-lock.yaml ./yarn.lock ./bun.lockb ./dist ./out ./next ./build"
alias ncu-patch="ncu -ui --target patch"
alias ncu-minor="ncu -ui --target minor"
alias ncu-latest="ncu -ui --target latest"

# GIT
alias git="hub"
alias ga="git add ."
alias gb="git branch"
alias gs="git status"
alias gss="git status -s"
alias gp="git pull"
alias gf="git fetch"
alias gd="git diff"
alias gbd="git checkout develop"
alias gbm="git checkout main"
alias gpush="git push"
alias gl="git log"
alias gc="git commit -m"
alias gac="git add . && git commit -m"
alias clean-branches="git branch --merged | egrep -v '(^\*|master|main|develop)' | xargs git branch -d"
alias deep-check-branches='deep_check_branches'
alias gsa='git_status_all'
alias gfa='git_fetch_all'
alias gpd='git_pull_dev'

# GITHUB
alias ghmerge="gh pr create && gh pr merge"

# DOCKER
alias dps="docker ps --format 'table {{.ID}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Names}}'"
alias dpsa="docker ps -a --format 'table {{.ID}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Names}}'"
alias dkill='docker rm $(docker stop $(docker ps -aq))'
alias recursive-docker-up="find . -type d -name develop -exec bash -c 'cd '{}' && ./docker_up.sh' \;"
alias docker-watch-stats="watch -n 1 'docker stats --no-stream --format \"table {{.Name}}\t{{.Container}}\t{{.CPUPerc}}\t{{.MemUsage}}\" | sort -k 3 -h -r'"
alias docker-logs-current='docker logs -f $(basename "$PWD")'

# STRING FORMAT
alias remove-spaces="find . -name '* *' -type d | rename 's/ /_/g'; find . -name '* *' -type f | rename 's/ /_/g'"
alias remove-dashes="find . -name '*-*' -type d | rename 's/-/_/g'; find . -name '*-*' -type f | rename 's/-/_/g'"

# DOTFILES
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias dotfilesupdate="dotfiles ac '$(date +'%Y-%m-%d %H:%M:%S'): update dotfiles' && dotfiles push"

# POSTGRESQL
alias psql-start="brew services start postgresql@14"
alias psql-stop="brew services stop postgresql@14"

# MySQL
alias mysql-start="brew services start mysql && mysql.server start"
alias mysql-stop="brew services stop mysql && mysql.server stop"

# HOMEBREW
alias brewdump='brew bundle dump --file="${HOME}/.config/brew/Brewfile" --force'
alias brewrestore='brew bundle install --file="${HOME}/.config/brew/Brewfile"'

# SOURCES
alias sz="source ~/.zshrc"
