#ZSH
export ZSH="$HOME/.oh-my-zsh"

# PATHS
export PATH="/usr/local/opt/ruby@2.7/bin:$PATH"
export PATH="/usr/local/sbin:$PATH"
export PATH="/usr/local/opt/ruby@2.7/bin:$PATH"
export PATH=$(brew --prefix)/bin:$PATH

# NVM
export NVM_DIR="$HOME/.nvm"

