[user]
	email = teziovsky@gmail.com
	name = Jakub Soboczyński
[core]
	autocrlf = input
	editor = nano
[alias]
	pushall = !git remote | xargs -L1 git push --all
[init]
	defaultBranch = main
[color]
	ui = true
[pull]
	rebase = false
