[alias]
	a = add .
	ac = commit -am
	b = branch
	bd = checkout develop
	bm = checkout main
	c = commit
	cm = commit -m
	d = diff
	f = fetch
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
	l = log
	p = pull --recurse-submodules
	push = push
	s = status
	ss = status -s

	# Undo last commit
	undo = reset HEAD^

	# View abbreviated SHA, description, and history graph of the latest 20 commits.
	log20 = log --pretty=oneline -n 20 --graph --abbrev-commit

	# Interactive rebase with the given number of latest commits.
	reb = "!r() { git rebase -i HEAD~$1; }; r"

	# Show the user email for the current repository.
	whoami = config user.email

	aliases = config --get-regexp alias
	branches = branch --all
	remoteupdate = remote update --prune
	contributors = shortlog --summary --numbered
	remotes = remote --verbose
	tags = tag -l
[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
[core]
	autocrlf = input
	editor = vim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[add.interactive]
	useBuiltin = false
[delta]
	navigate = true
	light = false
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[push]
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true
	autoSetupRemote = true
[pull]
	rebase = false
[branch]
	sort = -committerdate
[pager]
	branch = false
[user]
  email = teziovsky@gmail.com
  name = Jakub Soboczyński

[includeIf "gitdir:~/Developer/serio-studio/logintrade/"]
	path = ~/.gitconfig-logintrade
