//registry.npmjs.org/:_authToken=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
init-author-name=Jakub Soboczyński
init-author-email=jakub.soboczynski@icloud.com
init-author-url=https://www.jakubsoboczynski.pl/
init-license=MIT
save-exact=true
auto-install-peers=true
